{% extends "encyclopedia/layout.html" %}

 {% block title %}{{title}}{% endblock %}


{% block form %}
<form method="POST" action="wiki/">
     {% csrf_token %}
    <input class="search" type="text" name="q" id="article" value="{{request.GET.q}}" placeholder="Search ...">  
</form>

{% endblock %}

{% block body %}         
<h2>{{title}}</h2>
<div class="new_title">
<form method="POST" action="../wiki/{{title}}">
    {% csrf_token %}
    <input class="edit_title" type="text" name="title" value="{{title}}" placeholder="{{title}}">
    <input type="submit" value="Save this page">
<textarea name="page">{{content}}</textarea> 
    </form>
</div>
{% endblock %}